@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
	/* Значення за замовченням */
	font-family: 'Lato';
	color: #424551;
	line-height: 1.6;
	font-size: 16px; 
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ============================ */

/* Обмежуючий контейнер */
[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* ============================= */
.button {
	padding: 16px 40px;
	letter-spacing: 0.5px;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	opacity: 1;
	transition: opacity 0.3s ease 0s;
}
.button:hover{
	opacity: 0.7;
}
.button--border{
	background: inherit;
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
	transition: all 0.3s ease 0s;
}
.button--border:hover{
	background: #F75E05;
	color: #fff;
}
@media (max-width: 600px){
	.button{
		padding: 10px 15px;
	}
}
/* ============================= */

.header {
	padding-top: 5px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
}
.header__container {
	position: relative;
	display: flex;
	column-gap: 10px;
	align-items: center;
}
@media (max-width: 350px){
	.header__container{
		font-size: 14px;
	}
}
.header__logo {
	flex-basis: 40%;
	flex-shrink: 1;
}
.header__logo img {
	max-width: 100%;
}
.header__menu {}
.header__authorization {
	text-align: right;
	flex-basis: 60%;
	flex-shrink: 0;
}
.header__button {
	display: inline-block;
}
.header__account {}

@media (max-width: 499.98px){
	.header__account:not(:last-child) {
		margin-bottom: 10px;
	}
}
.header__account::before{
	content: "";
	background: url('../img/icon/person.svg') center no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 3px;	
	left: 0;
}

.menu {
	position: absolute;
	top: 80px;
	left: 15px;
	display: flex;
	column-gap: 30px;
	row-gap: 5px;
	flex-wrap: wrap; 
}
.menu__item {}
.menu__link {}

@media (min-width: 500px) {
	.header__authorization {
		display: flex;
		align-items: center;
		column-gap: 15px;
		flex-basis: auto;
	}
	.header__account {
		order: 2;
	}
	.header__button{
		order: 1;
	}
	.header__logo {
		flex-basis: 130px;
		flex-shrink: 0;
	}
	.header__container {
		justify-content: space-between;
	}
	.menu{
		top: 50px;
	}
}
@media (min-width: 900px){
	.menu{
		position: static;
	}
	.header__container{
		column-gap: 40px;
		min-height: 92px; 
	}
}
@media (min-width: 1024px){
	.header__container{
		position: static;
		justify-content: start;
		column-gap: 60px;
	}
	.menu{
		column-gap: 36px;
		width: 100%;
	}
	.header{
		padding: 0;
	}
	.header__authorization{
		column-gap: 36px;
	}
	.menu__link{
		position: relative;
	}
	.menu__link::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #000000;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
	}
	.menu__link:hover::before{
		opacity: 1;	
	}
	.header__account span{
		position: relative;
	}
	.header__account span::after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #000000;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
	}
	.header__account span:hover::after{
		opacity: 1;
	}

}
/* ================================================================== */
.premier {
	position: relative;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
	padding: 170px 0 50px;
}
.premier__container {
	position: relative;
	z-index: 5;
}
.premier__body {
	margin-bottom: 30px;
}
.premier__image {
	margin-bottom: 30px;
}
.premier__image img {
	max-width: 100%;
}

.body-premier {}
.body-premier__video {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	color: #1E212C;
	margin-bottom: 18px;
}
.body-premier__video::before{
	content: "";
	background: #FF3F3A url('../img/icon/play.svg') 55% 50% no-repeat;
	width: 52px;
	height: 52px;
	flex-basis: 52px;
	flex-shrink: 0;
	border-radius: 50%;
	margin-right: 16px;
}
.body-premier__title {
	font-weight: 900;
	font-size: 34px;
	line-height: 1.3;
	letter-spacing: 1px;
	color: #1E212C;
}
.body-premier__title:not(:last-child){
	margin-bottom: 15px;
}

.body-premier__buttons {
	display: flex;
	column-gap: 16px;
	justify-content: flex-end;
}
.body-premier__button {}
.body-premier__statistics {}

.statistics {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 5px;
	color: #1E212C;
}
.statistics__item{
	display: flex;
	align-items: center;
	column-gap: 12px;
	justify-content: center;
}
.statistics__value {
	font-weight: 900;
	font-size: 24px;
	line-height: 1.3;
}
.statistics__text {
	font-size: 14px;
}
.statistics__decor {
	width: 8px;
	height: 8px;
	background: #FF3F3A;
	border-radius: 50%;
}
@media (min-width: 500px){
	.statistics__item{
		flex-direction: column;
	}
	.statistics{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 10px;
	}
}
@media (min-width: 650px){
	.premier__image{
		text-align: center;
	}
	.body-premier__buttons{
		justify-content: start;
	}
}
@media (min-width: 800px){
	.premier__container {
		display: flex;
		flex-wrap: wrap;
		row-gap: 80px;
	}
	.body-premier__statistics {
		flex-basis: 100%;
		flex-grow: 1;
	}
	.premier__body {
		padding-right: 15px;
		flex-grow: 1;
		flex-basis: 50%;
		margin-bottom: 0;
	}
	.premier__image {
		flex-grow: 0;
		flex-basis: 50%;
		margin-bottom: 0;
	}
	.body-premier__title:not(:last-child) {
		margin-bottom: 30px;
	}
	.statistics__value {
		font-weight: 900;
		font-size: 46px;
	}
	.statistics__text {
		font-size: 16px;
	}
}
@media (min-width: 910px){
	.body-premier__title{
		font-size: 48px;
	}
}
@media (min-width: 1024px){
	.premier{
		padding: 200px 0 80px;
	}
	.body-premier__title{
		font-size: 64px;
		max-width: 550px;
		margin-bottom: 60px;
	}
	.premier__container{
		row-gap: 189px;
	}
	.body-premier__video{
		position: relative;
		margin-bottom: 24px;
	}
	.body-premier__video::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background: #FF3F3A;
		opacity: 0.12;
		animation-name: pulse;
		animation-timing-function: ease;
		animation-duration: 1s;
		animation-direction: alternate;
		animation-iteration-count: infinite;

	}
	@keyframes pulse {
		0%{
			transform: scale(1);
		}
		100%{
			transform: scale(1.62);
		}
	}
	.body-premier__video:hover:after{
		animation-play-state: paused;
	}

	.body-premier__title:not(:last-child) {
		margin-bottom: 60px;
	}
	.statistics__item {
		flex-direction: row;
	}
	.premier__image {
		text-align: left;
	}
	.premier__image img{
		transform: translate(8%, 0);
	}
}
/* ===================== */
.premier__decor-1 {
	position: absolute;
	z-index: 1;
	top: calc((133 / 1080) * 100% );
	left: calc((82 / 1920) * 100%);
}
.premier__decor-2 {
	position: absolute;
	z-index: 1;
	bottom: calc((-100 / 1080) * 100%);
	left: calc((-112 / 1920) * 100%);
}
.premier__decor-3 {
	position: absolute;
	z-index: 1;
	top: calc((487 / 1080) * 100%);
	left: calc((782 / 1920) * 100%);
}
.premier__decor-4 {
	position: absolute;
	z-index: 1;
	bottom: calc((261 / 1080) * 100%);
	left: calc((733 / 1920) * 100%);
}
.premier__decor-5 {
	position: absolute;
	z-index: 1;
	bottom: calc((194 / 1080) * 100%);
	right: calc((-30 / 1920) * 100%);
}
.premier__decor-6 {
	position: absolute;
	z-index: 1;
	top: calc((-22 / 1080) * 100%);
	right: calc((119 / 1920) * 100%);
	transform: rotate(135deg);
}
/* ================================================================= */
/* ====================== */
.heading {
	color: #1E212C;
}
.heading__sub-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
}
.heading__sub-title:not(:last-child){
	margin-bottom: 8px;
}
.heading__title {}
[class*="__title"]{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
}
@media (max-width: 350px){
	[class*="__title"] {
		font-size: 28px;
	}
	.heading__sub-title{
		font-size: 14px;
	}
}
/* ====================== */
.title {}
/* ======================= */
.list {}
.list__item {
	position: relative;
	padding-left: 32px;
}
.list__item::before {
	content: "";
	background: url('../img/icon/check.svg') 0 0 no-repeat;
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
}
@media (max-width: 450px){
	.list__item::before {
		top: 3px;
	}
}
/* ======================= */
.why-createx{
	position: relative;
	padding: 70px 0 30px;
}
.why-createx__container {
	position: relative;
	z-index: 4;
}
.why-createx__body {
	margin-bottom: 20px;
}
.why-createx__image {}
.why-createx__image img {
	max-width: 100%;
}

.body-createx {}
.body-createx__heading {
	margin-bottom: 25px;
}
.body-createx__list {
	font-size: 14px;
	margin-bottom: 30px;
}
.body-createx__button {
	display: inline-flex;
}
@media (min-width: 450px){
	.body-createx__list{
		font-size: 16px;
	}
}
@media (min-width: 700px){
	.why-createx__image{
		text-align: center;
	}
}
@media (min-width: 800px){
	.why-createx__container {
		display: flex;
	}
	.why-createx__body {
		order: 2;
		flex-basis: 50%;
		padding-left: 70px;
	}
	.why-createx__image {
		order: 1;
		flex-basis: 50%;
	}
}
@media (min-width: 1024px){
	.why-createx__body {
		flex-basis: 41%;
	}
	.why-createx__image {
		order: 1;
		flex-basis: 59%;
	}
}
@media (min-width: 1024px){
	.why-createx {
		padding: 180px 0 90px;
	}
	.body-createx__heading {
		margin-bottom: 40px;
	}
	.body-createx__list {
		margin-bottom: 48px;
	}
}
@media (min-width: 1124px){
	.why-createx__body {
		padding-left: 135px;
	}
}
.why-createx__decor-1 {
	position: absolute;
	top: 29%;
	left: -6%;
	z-index: 1;
}
.why-createx__decor-2 {
	position: absolute;
	bottom: 13%;
	right: -8%;
	z-index: 1;
}
/* ================================================================== */

.featured {
	padding: 40px 0;
}
.featured__container {}
.featured__block {
	margin-bottom: 24px;
}
.featured__heading {
	margin-bottom: 20px;
}
.featured__button {
	display: inline-block;
}

.featured__card {}

.card-featured {}
.card-featured__item {
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}
.card-featured__item:not(:last-child){
	margin-bottom: 20px;
}
.card-featured__image {
	position: relative;
	padding-bottom: 61.5%;
}
.card-featured__image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: 0 0;
}
.card-featured__body {
	padding: 18px;
}
.card-featured__body > div:not(:last-child){
	margin-bottom: 16px;
}

.body-featured {}
.body-featured__sub-title {
	display: inline-block;
	padding: 1px 8px;
	background-color: #03CEA4;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.5;
	color: #FFFFFF;
}
.body-featured__sub-title--blue{
	background-color: #5A87FC;
}
.body-featured__sub-title--orange{
	background-color: #F89828;
}
.body-featured__sub-title--pink {
	background-color: #F52F6E;
}
.body-featured__subject {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1E212C;
}
.body-featured__info {
	display: flex;
	column-gap: 8px;
	align-items: center;
}
.body-featured__price {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;
	color: #FF4242;
}
.body-featured__speaker {
	font-size: 18px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	line-height: 1.5;
	color: #787A80;
}
.body-featured__speaker::before{
	content: "";
	width: 1.5px;
	height: 16px;
	flex-basis: 1.5px;
	flex-shrink: 0;
	background-color: #787A80;
}
@media (min-width: 540px){
	.featured__card {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 30px;
	}
	.card-featured__item{
		flex-basis: 49%;
	}
	.card-featured__item:not(:last-child) {
		margin-bottom: 0px;
	}
}
@media (min-width: 680px){
	.featured__block {
		display: flex;
		margin-bottom: 40px;
		align-items: flex-end;
		justify-content: space-between;
	}
	.featured__heading {
		margin-bottom: 0px;
	}
	.featured__button {
		flex-shrink: 0;
	}
}
@media (min-width: 890px){
	.card-featured__item{
		display: flex;
	}
	.card-featured__body{
		flex-grow: 1;
	}
	.card-featured__image {
		flex-shrink: 0;
		position: relative;
		padding-bottom: 36%;
		flex-basis: 36%;
	}
	.card-featured__image img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
@media (min-width: 1024px){
	.featured {
		padding: 90px 0;
	}
	.featured__block{
		margin-bottom: 60px;
	}
	.card-featured__body>div:not(:last-child) {
		margin-bottom: 20px;
	}
}
